{{- $summary := "Details" -}}
{{- if .IsNamedParams -}}
  {{- with .Get "summary" }}{{ $summary = . }}{{ end -}}
  {{- if eq $summary "Details" -}}
    {{- with .Get "title" }}{{ $summary = . }}{{ end -}}
  {{- end -}}
{{- else -}}
  {{- with .Get 0 }}{{ $summary = . }}{{ end -}}
{{- end -}}

{{- $open := false -}}
{{- if in .Params "open" -}}
  {{- $open = true -}}
{{- end -}}
{{- with .Get "open" -}}
  {{- if or (eq . true) (eq . "true") (eq . "1") -}}
    {{- $open = true -}}
  {{- end -}}
{{- end -}}

<details{{ if $open }} open{{ end }}>
  <summary>{{ $summary }}</summary>
  <div class="markdown-inner">
    {{- .InnerDeindent | markdownify -}}
  </div>
</details>
